<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dream Vewawer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DreamVeawerWatch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>DreamWeaver Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DreamWeaverIphoneAI Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>DreamWeaverWatch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB5BE0CA2EC0AC94008F0645</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB76002F2EC09ADD00A3460C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB76003E2EC09ADF00A3460C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB7600482EC09ADF00A3460C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
